
<app-weather-layout>
  <app-weather-sidenav [open]="showSideNav">
    <app-weather-sidenav-nav-item (activate)="closeSideNav()" routerLink="collection" icon="location_city" hint="View Your Cities">
      My Cities
    </app-weather-sidenav-nav-item>
      <app-weather-sidenav-nav-item (activate)="closeSideNav()" routerLink="cities/search" icon="search" hint="Find Your Next City">
        View Cities
      </app-weather-sidenav-nav-item>
      <app-weather-sidenav-nav-item  icon="thumb_up" hint="Angular">
        <a href="https://angular.io/" target="_blank">Angular</a>
      </app-weather-sidenav-nav-item>
        <app-weather-sidenav-nav-item (activate)="closeSideNav()" icon="account_circle" hint="Sign In">
          Sign In
        </app-weather-sidenav-nav-item>
          <app-weather-sidenav-nav-item (activate)="logout()" icon="account_box" hint="Sign Out">
            Sign Out
          </app-weather-sidenav-nav-item>
  </app-weather-sidenav>
<app-weather-toolbar (openMenu)="openSideNav()"></app-weather-toolbar>

<router-outlet></router-outlet>

<app-weather-footer></app-weather-footer>
</app-weather-layout>
